:root {
    --red: #D90429;
    --black: #020202;
    --brancocinza: #FFF6F8;
    --branco: #FFF;
    --cinza: #5A5A5A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Configurações principais */
html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--brancocinza);

}

a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

h1,
h2 {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}


.title-primary {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: var(--red);
    font-weight: 600;
    letter-spacing: -.5px;
}

.button {
    max-width: 200px;
    background-color: var(--red);
    color: var(--branco);
    padding: 1rem;
    margin-bottom: -80px;
    font-family: 'Roboto', sans-serif;
}

.textoPrincipal {
    color: var(--cinza);
    margin: 1rem 0;
    line-height: 1.5rem;
    font-family: 'Roboto';
    text-align: left;
}

/* Container Header Nav */
header {
    margin: 0 auto;
    margin: 0 6rem;
    height: 550px;
    background-image: url('/assets/img/Wireframe\ -\ 1.png');
    background-size: 1000px 550px;
    background-position: right center;
    background-repeat: no-repeat;
    object-fit: fill;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: -.5px;

}

.scroll-top {
    border: 1px solid var(--red);
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1rem;
    padding: .5rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    color: #fff;
    transform: scale(0.9);
    background: var(--red);
    transition: transform 260ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
}


.scroll-top:hover {
    border: 1px solid var(--brancocinza);
    background: var(--brancocinza);
    color: var(--red);
    transform: scale(1.1);
    transition: 0.4s;
}

.logo {
    background-color: var(--red);
    padding: .5rem;
    color: var(--brancocinza);
    font-family: 'Roboto', sans-serif;
}

/* Container principal */
.containerApresentacao {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
}

.containerApresentacao h1 {
    padding: 1rem 0;
    line-height: 4rem;

}

.containerApresentacao h1 span {
    color: var(--red);
}

.containerApresentacao p {
    word-wrap: break-word;
    width: 450px;
}

/* Container Main */
main {
    overflow: hidden;
}


/* Container Models */
.container-models {
    margin: 0 5rem;
    padding: 2rem;
}

.container-models section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.container-models article {
    text-align: center;

}

.list-car {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;
}


.card-car {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 310px 200px;
    width: 310px;
    height: 200px;
    border-radius: .5rem;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.card-car a {
    background-color: var(--brancocinza);
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    border-radius: .2rem;
    text-align: center;
    padding: .6rem 1.5rem;
    margin: 2px;
    font-weight: 500;
}

.ford1 {
    background-image: url('/assets/img/ford1.jfif');

}

.ford2 {
    background-image: url('/assets/img/ford2.jfif');
}

.ford3 {
    background-image: url('/assets/img/ford3.jfif');
}

.volkswagen1 {
    background-image: url('/assets/img/volkswagen1.jfif');
}

.volkswagen2 {
    background-image: url('/assets/img/volkswagen2.jfif');
}

.volkswagen3 {
    background-image: url('/assets/img/volkswagen3.jfif');
}

.fiat1 {
    background-image: url('/assets/img/fiat1.jfif');
}

.fiat2 {
    background-image: url('/assets/img/fiat2.jfif');
}

.fiat3 {
    background-image: url('/assets/img/fiat3.jfif');
}

.chevrolet1 {
    background-image: url('/assets/img/chevrolet1.jpg');
}

.chevrolet2 {
    background-image: url('/assets/img/chevrolet2.jfif');
}

.chevrolet3 {
    background-image: url('/assets/img/chevrolet3.jfif');
}


/* Container price e quality */
.container-price-quality {
    text-align: end;
    margin: 0 5rem;
    height: 500px;
    background-image: url('/assets/img/Wiframe-RollsRoyce.png');
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: fill;
    display: flex;
    justify-content: flex-end;
}

.container-price-quality section {
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.container-price-quality .textoPrincipal {
    width: 500px;
}

/* Container excellent */
.container-excellent section:nth-child(1) {
    width: 600px;
    margin: 2rem 5rem;
}

.box-car {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 5rem;
}

.box-car li {
    background-color: #f6f6f6;
    padding: .5rem;
    width: 300px;
}

.box-car li div {
    align-self: flex-end;
    margin: 1rem 0;
}

.box-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 !important;
}

.box-button a {

    margin-bottom: 0;
}

.box-car li p {
    color: var(--cinza);
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;


}

.box-car li h3 {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.box-car h3:nth-child(2) {
    color: var(--red);
}

.box-car li span {
    color: var(--red);
    text-align: left;
}

.box-car li .fa-arrow-right {
    color: var(--black);
}


.box-car li img {
    object-fit: fill;
    display: flex;
    justify-content: center;
    width: 290px;
    height: 240px;
}

.box-car li picture .porscheBmw {
    object-fit: cover;
    width: 300px;
    height: 260px;
}

/* Container testimoials */
.container-testimoials {
    background: linear-gradient(rgba(0, 0, 0, .90), rgba(0, 0, 0, .90)100%), url('/assets/img/fotodepoimentoscity.png'), no-repeat;
    background-size: contain;
    color: var(--brancocinza);
    text-align: left !important;
    padding: 5rem 5rem 0 5rem;

}

.container-testimoials section {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    padding: 2rem;
}


.container-testimoials .box-testi-links {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-testimoials .box-testi-links .textoPrincipal {
    padding: 0 !important;
    margin: 0 !important;
    text-align: left;
    width: 50%;
}

.container-testimoials .box-testi-links i {
    color: var(--branco);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 50%;
}

.container-testimoials .fa-angle-left {
    background: var(--red);
    color: var(--brancocinza);
}

.fa-angle-right {
    background-color: var(--brancocinza);
    color: var(--red) !important;
}

.container-testimoials .box-testimonials {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1400px;
}

.container-testimoials .card-testimonials {
    position: relative;
    background-color: var(--brancocinza);
    max-width: 800px;
    height: 240px;
    padding: .5rem;
    margin: 0 20px 0 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-testimonials p {
    text-align: start !important;
    color: var(--cinza);
}

.container-testimoials .card-testimonials img {
    border-radius: 50%;
    object-fit: cover;
    width: 60px;
    height: 60px;
}

.container-testimoials .card-testimonials h2 {
    color: var(--black);
    align-self: flex-start;
    font-size: 1rem;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 0 2rem 6rem;
}

footer section {
    display: flex;
}

footer section div {
    padding: .5rem;
    margin: 0 0 0 2rem;
}

footer section div ul {
    list-style: none;
    color: var(--cinza);
}

.box-footer li,
i {
    padding: .5rem;
}

footer section div h3 {
    color: var(--brancocinza);
    padding: .5rem;
    font-weight: 500;
    text-transform: uppercase;
}

footer section div p {
    text-align: left !important;

}

.list-redes {
    display: flex;
}

.fa-twitter,
.home {
    color: var(--red);
}

.rodape {
    border-top: 0.1rem solid var(--brancocinza);
    color: var(--cinza);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--black);
    font-weight: 400;
    padding: .5rem;
}